flask
flask[async]
waitress

beautifulsoup4
certifi
charset-normalizer
idna
numpy
pyfiglet
requests
requests[socks]
soupsieve
typing_extensions
urllib3
rel
websocket-client
websocket-client[optional]

